body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.nav {
  background-color: #282c34;
  min-height: 20px;
  display: flex;
  justify-content: space-around;
  color: white;
  margin-bottom: 20px;
}
